

<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
{{#if condition }}
{{slogan}}
{{else}}
...nope.
{{/if }}

<hr>
<h4>Loop an array here: </h4> <br>
{{#each attrArray as |val key| }}
  {{ key }}: {{ val }}
{{/each}}